{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Inscription</h1>

                {{ form_start(registrationForm) }}

                    <fieldset class="mb-3 mt-3">
                        <legend>Mon Identité</legend>
                        {{ form_row(registrationForm.lastname) }}
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.email) }}
                        
                    </fieldset>
                    <fieldset class="mb-3 mt-3">
                        <legend>Mes coordonnées</legend>
                        {{ form_row(registrationForm.address) }}
                        {{ form_row(registrationForm.zipcode) }}
                        {{ form_row(registrationForm.city) }}
                    </fieldset>

                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.RGPDConsent) }}

                    <button type="submit" class="btn bg-primary btn-lg my-3" style="color: white;">M'inscrire</button>
                {{ form_end(registrationForm) }}
        </div>
    </div>
</section>
    
{% endblock %}
